/* body{
  background-image: url("../img/login.png");
  background-size: cover;
  min-height: 100vh;
} */

.forgot-password-container {
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  margin: 0 auto;
  max-width: 35rem;
  margin: 5em auto;
  padding: 3.25rem;
  background-color: rgb(241, 237, 237);
  border-radius: 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  height: 100%;

  
}

.forgot-password-container h1 {
  color: black;
  margin-bottom: 20px;
  margin-left: 5rem;
  font-size: 1.3rem;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
}

.forgot-password-container div {
  margin-bottom: 10px;
  
  
}

.forgot-password-container label {
  display: block;
  margin-bottom: 5px;
  
}

.forgot-password-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  
}

.forgot-password-container button {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 0.5rem 0.9rem;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-family: Poppins;
}

.forgot-password-container .error {
  color: red;
  margin-bottom: 10px;
  
}

.forgot-password-container .message {
  color: green;
  margin-top: 10px;
}
.forgot-password-container input[type='password'],
.forgot-password-container input[type='text'] {
  color: black; /* Set the text color to black */
}
.x1{
  color: black;
}
.Overall-container{
  background-image: url("../img/login.png");
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  
}