body{
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    min-height: 100vh;
    background-size: contain;
}
/* body {
   background-image: url("../img/sky3.jpeg"); 
  background-size: cover;
  min-height: 10vh;
}  */
body{
    overflow-x: hidden;
    height: 100vh;
}

/* Customize the scrollbar's width and height */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #F94B4B;
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

/* .homep{
    overflow-y: scroll;
} */

.card-container{
    width: 946px;
    height: 264px;
    overflow: hidden;
    position: relative;
    margin: auto;
    top: -8em;
    z-index: 1000;
}

.grid-sec{
    display: flex;
    flex-direction: row;
}


.pgrid img{
    border-radius: 1em;
    transition: all .5s ease;
    /* width: 200px; */
    /* margin: 0em 10em; */
}

.pgrid img:hover{
    transform: translateY(-10%);
}

.g-img{
    margin: 0em -1.3em;
}

figure{
    font-weight: 500;
    color: black;
}

.destination-txt{
    margin-top: 3em;
}

.services{
    margin-top: -6em;
    margin-bottom: 4em;
    color: white;
    /* padding: 0em 15em; */
}

.list-container{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    /* margin-left: 3em;
    width: 3em; */
    padding-top: 20em;
}

.list-item-content{
    margin-bottom: 2em;
}

.list-container p{
    width: 100%;
}

.illustration-container{
    width: 1em;
    padding-top: 14em;
}

.illustration-container img{
    margin-top: 3em;
    width: 100%;
}

.gradientbg {
    background: url('../img/bgvector.png');
    background-size: cover;
    /* background-position: -50%;  */
    /* padding: 0em 6em; */
}

.list-item-number{
    position: relative;
    font-weight: 400;
    left: -1em;
}

.list-item-content p{
    position: relative;
    left: 1.4em;
}