@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar {
  margin: 0em 2em;
  z-index: 1000;
  background-color: transparent;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
.nav-link {
  margin: 0em 1em;
  color: white;
  transition: all .5s ease;
}
.nav-link:hover{
  transition: all .5s ease;
  transform: translateY(-10%);
  color: rgb(0, 0, 0);
}

.App-logo {
  height: 2em;
}

.navli {
  color: white;
}
/* styles.css */
.btn.btn-outline-light.btn-sm {
  /* Button styles */
  font-size: 15px;
  padding: 2px 8px;
  font-family: Poppins;
  font-weight: 500;
  border-radius: 10px;
  /* Add any other styles you want to apply */

  /* Hover effect */
  transition: background-color 0.7s ease;
}

.btn.btn-outline-light.btn-sm:hover {
  background-color: #F94B4B; /* Change to desired hover color */
  
}
