/* Profile.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/Currentbookings.png");
  background-size: cover;
  height: 100vh;
  position: relative;
  top: -4.2em;
  z-index: 10;
}

body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.profile-2 h1 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 25px;
}

.profile-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.profile-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding-left: 60px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10px;
  margin-left: -1rem;
  border: 2px solid #ff0000;
  background-size: cover;
  background-position: cover;
}

.button-profile {
  border: none;
  outline: none;
  color: transparent;
  cursor: pointer;
}

.remove-photo-button {
  margin-left: 10px;
}

.profile-details {
  flex-grow: 1;
}

.detail {
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 120px;
}

.detail label {
  color: black;
}

.detail span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}

.material-symbols-outlined {
  background-color: transparent !important;
  display: flex;
  color: black;
}

.detail input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  color: black;
}

.detail input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.edit-btn,
.delete-btn,
.save-btn,
.cancel-btn {
  background-color: red;
  border-radius: 3rem;
  font-family: Poppins;
  border: 1px solid black;
  margin-right: .5rem;
  margin-top: 1em;
}
